.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 100px 250px 103px; }
.footer__address {
  font-family: Lato;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789; }
  .footer__address span {
    display: block;
    font-size: 13.9px;
    font-weight: 400;
    font-style: italic; }
.footer__socials {
  display: flex; }
.footer__social {
  display: block;
  position: relative;
  font-family: Lato;
  font-size: 13.9px;
  font-weight: 400;
  color: #848789; }
  .footer__social:nth-child(2) {
    margin: 0 15px; }
  .footer__social img {
    width: 35px;
    height: 34px; }
  .footer__social::after {
    content: ''; }
  .footer__social:hover::after {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    padding: 3px;
    border: 1px solid #848789;
    background-color: #f7f7f7;
    transition: all 0.1s ease-in; }
  .footer__social_twitter:hover::after {
    content: 'Twitter'; }
  .footer__social_facebook:hover::after {
    content: 'Facebook'; }
  .footer__social_pinterest:hover::after {
    content: 'Pinterest'; }

.handcrafted {
  display: flex;
  align-items: center;
  justify-content: center; }
  .handcrafted__text {
    font-family: Lato;
    font-size: 13.9px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    padding-right: 10px; }
  .handcrafted__logo {
    display: block; }
    .handcrafted__logo img {
      width: 55px;
      height: 36px; }

@media screen and (max-width: 1100px) {
  .footer__content {
    padding: 100px 20px 103px;
    justify-content: space-around; } }
@media screen and (max-width: 640px) {
  .footer__content {
    flex-direction: column;
    padding: 40px 20px;
    justify-content: space-around; }
  .footer__socials {
    order: 1; }
  .footer__address {
    order: 2;
    text-align: center;
    margin: 20px 0; }

  .handcrafted {
    order: 3; } }
