.gallery__content {
  display: grid;
  grid-template-areas: "block1 block1 block2" "block3 block4 block4" "block5 block6 block7";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: stretch;
  align-items: stretch; }
  @media screen and (max-width: 1000px) {
    .gallery__content {
      grid-template-areas: "block1" "block2" "block4" "block3" "block5" "block6" "block7";
      grid-template-rows: repeat(7, auto);
      grid-template-columns: 1fr; } }
.gallery__item {
  height: 100%;
  width: 100%;
  position: relative; }
  .gallery__item:nth-child(1) {
    grid-area: block1; }
  .gallery__item:nth-child(2) {
    grid-area: block2; }
  .gallery__item:nth-child(3) {
    grid-area: block3; }
  .gallery__item:nth-child(4) {
    grid-area: block4; }
  .gallery__item:nth-child(5) {
    grid-area: block5; }
  .gallery__item:nth-child(6) {
    grid-area: block6; }
  .gallery__item:nth-child(7) {
    grid-area: block7; }
.gallery__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .gallery__pic_small {
    height: 100%;
    width: 100%; }
.gallery__pic-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.gallery__pic-with-description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  height: 100%;
  width: 100%; }

@media screen and (max-width: 1000px) {
  .gallery__content {
    grid-template-areas: "block1" "block2" "block4" "block3" "block5" "block6" "block7";
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 1fr;
    row-gap: 10px; }
  .gallery__pic-with-description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%; }

  .info-block_gallery {
    padding: 7.5vw 15vw 9vw 17.5vw; } }
