.page_generation {
  background-color: #f7f7f7; }

.generation__content {
  width: 100%;
  height: 100%;
  padding: 7.5vw 15vw 9vw 17.5vw; }

@media screen and (min-width: 1600px) {
  .generation__content {
    padding: 120px 245px 145px 280px; } }
@media screen and (max-width: 800px) {
  .info-block__text {
    text-align: justify; } }
