.footer {
	// .footer__content
	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #f7f7f7;
		padding: 100px 250px 103px;
	}
	// .footer__address
	&__address {
		font-family: Lato;
		font-size: 16px;
		line-height: 17px;
		font-weight: 700;
		color: #848789;
		& span{
			display: block;
			font-size: 13.9px;
			font-weight: 400;
			font-style: italic;
		}
	}
	// .footer__socials
	&__socials {
		display: flex;
	}
	// .footer__social
	&__social {
		display: block;
		position: relative;
		font-family: Lato;
		font-size: 13.9px;
		font-weight: 400;
		color: #848789;
		&:nth-child(2){
			margin: 0 15px;
		}
		& img{
			width: 35px;
			height: 34px;
		}
		&::after{
			content: '';
		}
		&:hover::after{
			position: absolute;
			top: calc(100% + 5px);
			left: 0;
			padding: 3px;
			border: 1px solid #848789;
			background-color:  #f7f7f7;
			transition: all 0.1s ease-in;
		}
		&_twitter:hover::after{
			content: 'Twitter';
		}
		&_facebook:hover::after{
			content: 'Facebook';
		}
		&_pinterest:hover::after{
			content: 'Pinterest';
		}
	}
}

.handcrafted {
	display: flex;
	align-items: center;
	justify-content: center;
	// .handcrafted__text
	&__text {
		font-family: Lato;
		font-size: 13.9px;
		// line-height: 17px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
		padding-right: 10px;
	}
	// .handcrafted__logo
	&__logo {
		display: block;
		& img{
			width: 55px;
			height: 36px;
		}
	}
}

@media screen and (max-width: 1100px) {
	.footer {
		// .footer__content
		&__content {
			padding: 100px 20px 103px;
			justify-content: space-around;
		}
	}
}

@media screen and (max-width: 640px) {
	.footer {
		// .footer__content
		&__content {
			flex-direction: column;
			padding: 40px 20px;
			justify-content: space-around;
		}
		&__socials {
			order: 1;
		}
		// .footer__address
		&__address {
			order: 2;
			text-align: center;
			margin: 20px 0;
		}
	}
	.handcrafted {
		order: 3;
	}
}