.gallery {
	&__content{
		display: grid;
		grid-template-areas: "block1 block1 block2"
									"block3 block4 block4"
									"block5 block6 block7";
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(3, 1fr);
		justify-content: stretch;
		align-items: stretch;
		@media screen and (max-width: 1000px) {
			grid-template-areas: "block1" "block2" "block4" "block3" "block5" "block6" "block7";
			grid-template-rows: repeat(7, auto);
			grid-template-columns: 1fr;
		}
	}
	// .gallery__item
	&__item {
		height: 100%;
		width: 100%;
		position: relative;
		@for $i from 1 through 7 {
			&:nth-child(#{$i}) {
				grid-area: block#{$i};
			}
		}
	}
	// .gallery__pic
	&__pic {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		// .gallery__pic_big
		&_big {
		}
		&_small{
			height: 100%;
			width: 100%;
		}
	}
	// .gallery__pic-logo
	&__pic-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// .gallery__pic-with-description
	&__pic-with-description {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr;
		height: 100%;
		width: 100%;
		// overflow: hidden;
	}
}

@media screen and (max-width: 1000px) {
	.gallery {
		&__content{
			grid-template-areas: "block1" "block2" "block4" "block3" "block5" "block6" "block7";
			grid-template-rows: repeat(7, auto);
			grid-template-columns: 1fr;
			row-gap: 10px;
		}
		&__pic-with-description {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
			height: 100%;
			width: 100%;
			// overflow: hidden;
		}
	}
	.info-block{
		&_gallery{
			// padding: 20px 20px 40px 20px;
			padding: 7.5vw 15vw 9vw 17.5vw;
		}
	}
}