.page {
	// .page_generation
	&_generation{
		background-color: #f7f7f7;
	}
}

.generation {
	// .generation__content
	&__content {
		width: 100%;
		height: 100%;
		//padding: 120px 245px 145px 280px;
		padding: 7.5vw 15vw 9vw 17.5vw;
	}
}

@media screen and (min-width: 1600px) {
	.generation {
		// .generation__content
		&__content {
			padding: 120px 245px 145px 280px;
		}
	}
}

@media screen and (max-width: 800px) {
	.info-block {
		// .generation__content
		&__text {
			text-align: justify;
		}
	}
}