.shop {
	// .shop__content
	&__content {
		display: grid;
		grid-template-areas: "shop1 shop2 shop3 shop4 shop5 shop5"
									"shop6 shop6 shop3 shop4 shop7 shop8";
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(6, 1fr);
	}
	// .shop__item
	&__item {
		display: block;
		height: 100%;
		width: 100%;
		position: relative;
		@for $i from 1 through 8 {
			&:nth-child(#{$i}) {
				grid-area: shop#{$i};
			}
		}
		&::after{
			content: '';
			// opacity: 0;
			width: 0;
			transition: width 0.4s ease-in;
			//height: 0;
			//transition: height 0.3s ease-in;
		}
		&:hover::after{
			content: '';
			z-index: 1;
			opacity: 1;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			background: rgba(100,194,158,0.8) url('../img/shop.png') 50% calc(50% - 13.5px) /51px 30px no-repeat;
		}
		// &:not(:hover)::after{
		// 	content: '';
		// 	height: 0;
		// 	transition: height 0.3s ease-out;
		// }
		&::before{
			content: '';
			width: 0;
			transition: width 0.4s ease-in;
			//top: 100%;
			//transition: top 0.3s ease-in;
		}
		// &:not(:hover)::before{
		// 	content: '';
		// 	top: 100%;
		// 	transition: top 0.3s ease-out;
		// }
		&:hover::before{
			content: 'Shop now';
			z-index: 2;
			font-family: Lato;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #ffffff;
			position: absolute;
			top: 50%;
			width: 100%;
			text-align: center;
			margin-top: 13.5px;
		}
	}
	&__pic{
		object-fit: cover;
		display: block;
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 1000px) {
	.shop {
		// .shop__content
		&__content {
			display: grid;
			grid-template-areas: "shop1 shop2 shop3"
										"shop6 shop6 shop3"
										"shop4 shop5 shop5"
										"shop4 shop7 shop8";
			grid-template-rows: repeat(4, 1fr);
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media screen and (max-width: 650px) {
	.shop {
	// .shop__content
	&__content {
		display: grid;
		grid-template-areas: "shop1 shop2"
									"shop6 shop6"
									"shop3 shop4"
									"shop3 shop4"
									"shop3 shop4"
									"shop5 shop5"
									"shop7 shop8";
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}
	}
}

.discover {
	// .discover__button
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 12.5vw; //200px
	min-height: 70px;
	background-color: #282f35;
	&__button {
		margin: 0 10px;
		display: block;
		width: 300px;
		// max-width: 300px;
		min-width: 210px;
		height: 50px;
		background-color: rgba(255,255,255,0.0);
		border: 1px solid rgba(255,255,255,0.49);
		font-family: Lato;
		font-size: 14px;
		line-height: 50px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		text-align: center;
		&:hover{
			background-color: $base-green;
			transition: all 0.3s ease-in;
		}
		&:not(:hover){
			transition: all 0.3s ease-in;
		}
	}
}