.page {
	// .page_subscribe
	&_subscribe {
		width: 100%;
		// height: 29.3vw; //469px;
		background-color: #ffffff;
	}
}
.subscribe {
	// .subscribe__content
	&__content {
		padding: 110px 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .subscribe__moto
	&__moto {
		font-family: Lato;
		font-size: 24px;
		line-height: 34px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
		margin: 40px 0 35px 0;
	}
	// .subscribe__form
	&__form {
		display: flex;
	}
	// .subscribe__e-mail-input
	&__e-mail-input {
		width: 400px;
		height: 69px;
		background-color: #ffffff;
		border: 1px solid #d3d7d9;
		font-family: Lato;
		font-size: 20px;
		font-weight: 400;
		font-style: italic;
		color: #929292;
		padding-left: 27.5px;
	}
	// .subscribe__go-button
	&__go-button {
		width: 126px;
		height: 69px;
		background-color: $base-green;
		font-family: Lato;
		font-size: 24px;
		font-weight: 300;
		color: #ffffff;
		cursor: pointer;
		margin-left: 9px;
		&:hover{
			animation: bg-pulsation 1s infinite;
		}
	}
}

@keyframes bg-pulsation {
	0%{
		opacity: 1;
		// background-color: $base-green;
	}
	50%{
		opacity: 0.8;
		// background-color: #04c29e;
	}
	100%{
		opacity: 1;
		// background-color: $base-green;
	}
}

.logo_subscribe{

}

@media screen and (max-width: 800px) {
	.subscribe {
		&__content {
			padding: 110px 40px;
		}
	}
}

@media screen and (max-width: 600px) {
	.subscribe {
		// .subscribe__content
		&__content {
			padding: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		// .subscribe__moto
		&__moto {
			margin: 20px 0 20px 0;
		}
		// .subscribe__form
		&__form {
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		// .subscribe__e-mail-input
		&__e-mail-input {
			width: 100%;
		}
		// .subscribe__go-button
		&__go-button {
			width: 100%;
			margin-left: 0;
			margin-top: 10px;
		}
	}
}