.page {
	// .page_twitter
	&_twitter {

	}
}

.twitter {
	&__block{

	}
	// .twitter__content
	&__content{
		width: 100%;
		height: 100%;
	}
	// .twitter__item
	&__item {
		display: none;
		// padding: 123px 17.5vw 68px;
		padding: 7.7vw 17.5vw 6.125vw;
		text-align: center;
		//transition: top 1s;
		&_active{
			display: block;
		}
	}
	// .twitter__icon
	&__icon {
		& img{
			width: 32px;
			height: 27px;
			display: block;
			margin: 0 auto;
		}
	}
	// .twitter__source
	&__source {
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #353738;
		margin: 35px 0 20px 0;
		& span{
			font-weight: 300;
			color: #848789;
		}
	}
	// .twitter__text
	&__text {
		font-size: 24px;
		line-height: 34px;
		font-weight: 400;
		font-style: italic;
		color: #848789;
		//margin-bottom: 6.125vw; //98px;
	}
}

.slider {
	// .slider__item
	display: flex;
	justify-content: center;
	margin-bottom: 4.25vw;
	&__item {
		display: inline-block;
		width: 11px;
		height: 11px;
		background-color: rgba(40,47,53,0.0);
		border: 1px solid #c8c8c8;
		border-radius: 50%;
		margin: 0 4.5px;
		// .slider__item_active
		&_active {
			background-color: #a9afb3;
		}
	}
}

@media screen and (max-width: 800px) {
	.twitter {
		// .twitter__text
		&__text {
			text-align: justify;
		}
	}
}